src/main/xsd/ArtistTopAlbums.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="topalbums">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="album">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="mbid" type="xs:string" />
              <xs:element name="listeners" type="xs:unsignedShort" />
              <xs:element name="url" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="image">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="size" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="rank" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="artist" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>