src/main/xsd/ArtistTopTracks.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="toptracks">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="track">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="playcount" type="xs:string" />
              <xs:element name="listeners" type="xs:string" />
              <xs:element name="url" type="xs:string" />
              <xs:element name="streamable" type="xs:string" />
              <xs:element name="artist">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="url" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="image">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="size" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="rank" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="artist" type="xs:string" use="required" />
      <xs:attribute name="page" type="xs:unsignedByte" use="required" />
      <xs:attribute name="perPage" type="xs:unsignedByte" use="required" />
      <xs:attribute name="totalPages" type="xs:unsignedByte" use="required" />
      <xs:attribute name="total" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>