src/main/xsd/ArtistGetInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="artist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="mbid" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="image">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="size" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="streamable" type="xs:unsignedByte" />
        <xs:element name="ontour" type="xs:unsignedByte" />
        <xs:element name="stats">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="listeners" type="xs:unsignedInt" />
              <xs:element name="playcount" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="similar">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="artist">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="url" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="image">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="size" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tags">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="tag">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="url" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="bio">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="links">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="link">
                      <xs:complexType>
                        <xs:attribute name="rel" type="xs:string" use="required" />
                        <xs:attribute name="href" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="published" type="xs:string" />
              <xs:element name="summary">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="a">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="href" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="content">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="a">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="href" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>